.todolist-text{
  border: unset;
  outline: none;
  background-color: unset;
  cursor: pointer;
  transition: all .2s;
  padding: 5px 10px;
  width: 250px;
  border-radius: 5px;
}
.todolist-text-active{
  background-color: white;
  color: #333 !important;
}