.card{
  display:inline-block;
  width: 500px;
  height: auto;
  background-color: white;
  box-shadow: 0 10px 20px -5px rgba(200,200,200,0.5);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  margin-bottom: 100px;
}
.card-title{
  height:40px;
  display: flex;
  align-items: center;
}
.todolist-select-button{
  display: inline-block;
  padding: 4px;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid blue;
  color:blue;
  margin-left: 10px;
  transition: all .2s;
  cursor: pointer;
}
.todolist-select-button:hover{
  background-color: rgba(0,0,255,0.2);
}
.todolist-select-button-active{
  background-color: blue !important;
  color:white;
}
.card-notice{
  position: absolute;
  height: 40px;
  line-height: 40px;
  top: -40px;
  font-size: 12px;
  color: rgb(200,200,200);
}
.todolist-add-button{
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.todolist-undo{
  position: absolute;
  height: 30px;
  bottom: -40px;
  font-size: 12px;
  left: 0;
  display: flex;
  align-items: center;
  color: rgb(200,200,200);
}
.todolist-undo-button{
  display: inline-block;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 5px;
  background-color: #dc312f;
  color: white;
  margin-left: 10px;
  transition: all .2s;
  cursor: pointer;
}
.todolist-undo-button:first-child{
  background-color: blue;
}
.todolist-undo-button-hidden{
  pointer-events: none;
  background-color: #ccc !important;
}



